# Created automatically by make update-requirements-txt. Do not update manually!
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.5.18.1
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
datasets==2.2.2
dill==0.3.4
distlib==0.3.4
filelock==3.7.0
frozenlist==1.3.0
fsspec==2022.5.0
huggingface-hub==0.7.0
identify==2.5.1
idna==3.3
iniconfig==1.1.1
lxml==4.8.0
multidict==6.0.2
multiprocess==0.70.12.2
nodeenv==1.6.0
numpy==1.22.4
packaging==21.3
pandas==1.4.2
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.19.0
py==1.11.0
pyarrow==8.0.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
responses==0.18.0
six==1.16.0
soupsieve==2.3.2.post1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
torch==1.11.0
tqdm==4.64.0
transformers==4.19.2
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
xxhash==3.0.0
yarl==1.7.2
